 <%= form_for @user, url: create_session_path do |f| %>

      <% flash.each do |key,value|  %>
         <div class="<%= key %>" > <%= value %> </div>
      <% end %>
		<div class="container">
			<div class="row">	
				<%= f.label :email, class: "col-sm-2"%>
				<%= f.email_field :email %>
			</div>
			<br>
			<div class="row">
				<%= f.label :password, class: "col-sm-2"%>
				<%= f.password_field :password %>
			</div>
			<br>
			<%= f.submit "Login", class: "btn btn-warning" %>
		</div>
 <% end %>