<br>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
    <% if @posts.count > 0 %>
        <% @posts.each do |post| %>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3><%= link_to post.title, post, class: 'hl' %></h3>
                    <h6>Posted by: <%= post.user.name %>&nbsp;&nbsp;<small><%= post.updated_at%></small></h6>
                </div>
                <div class="panel-body">
                    <p><%= markdown truncate(post.body, length: 100, separator: ' ') %></p>
                </div>
            </div>
                <div class="panel">
                    <% if current_user
                        add = "/Add"
                    else
                        add = ""
                    end %>
                    <span class="col-md-6">
                        <%= link_to "View#{add} Comments", post_path(id: post.id) %>
                    </span>
                    <span>
                        <% if post.user == current_user %>
                            <%= link_to "Delete this post!", destroy_path(id: post.id), method: :delete %>
                        <% end %>
                    </span>
                </div>
                <br>

        <% end %>
    <% else %>
        <h2>No Posts Exist</h2>
    <% end %>
    </div>
    <div class="col-md-3"></div>
</div>
<br>
<div class="bc"><%= paginate @posts %></div>
<br>