
<h1>Posts.show</h1>

<%= link_to "Return", posts_path, class: "btn-sm btn-danger", style: "margin-left: 15px;" %>
<hr>
<div class="row">
	<div class="col-md-2"></div>
		<div class="col-md-7">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3><%= @post.title %></h3>
                <p><%= @post.id %></p>
					<h4>posted by <%= @post.user.name %> &nbsp;&nbsp;<small><%= @post.updated_at %></small></h4>
				</div>
				<div class="panel-body">
					<p><%= markdown @post.body %></p>
				</div>
			</div>
		</div>
		<% if @post.user == current_user %>
			<%= link_to "Edit", edit_post_path%>
			<% end %>
</div>
<br>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-5">
		<h4>Answers</h4>
		<% if @post.comments.count > 0 %>
			<% @post.comments.each do |comment| %>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4><%= comment.user.name %>
					<br>
					<small><%= comment.updated_at %></small></h4>
				</div>
				<div class="panel-body">
					<%= markdown comment.body %>
				</div> <!-- panel body -->
				<% if comment.user == current_user %>
					<%= link_to "Delete this comment", destroy_comment_path(id: comment.id), method: :delete %>
				<% end %>
			</div> <!-- panel -->
			<% end -%>
		<% else %>
			<p>no comments</p>
		<% end -%>
	</div>
</div>
<hr>

<div class="col-md-2"></div>
<div class="col-md-8">
	<% if current_user %>
	    <%= form_for @comment, url: create_comment_path do |f| %>
	        <%= hidden_field_tag :post_id, @post.id %>
	        <div class="form-group">
	            <%= f.label :body, "Comment" %>
	            <%= f.text_area :body, class: "form-control" %>
	        </div>
	        <%= f.submit "Add Comment", class: "btn btn-warning" %>
	    <% end %>
	<% end %>
</div>